@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');
html{
    height: 100%;
}
body {
    display: flex;
    flex-direction: column;
    font-family: 'Roboto', sans-serif, serif;
    padding: 0;
    margin: 0;
    height: 100%;
}

ul {
    list-style-type: none;
    display: flex;
}
li {
    padding: 0 10px;
}

h1{ 
    font-size: 48px;
    font-weight: 900;
    margin: 0;
}

h2{
    color: #1f2937;
    font-size: 28px;
    font-weight: 900;
    text-align: center;
    padding: 25px 5%;    
}

.header,
.intro {
    color: #f9faf8; 
    display: flex;
    background-color: #1f2937;
    justify-content: space-between;
    padding: 0 15vw 100px 15vw;
}  
@media only screen and (max-width: 300px) {
    .intro {
      flex-wrap: wrap;
    }
  } 
.intro{
    gap: 25px;
}
.header {
    font-size: 24px;
    align-items: center;
}

.logo {
    font-size: 32px;
    font-weight: 800;
}

.card{
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.heroimg { 
    max-width: 60%;
    max-height: auto;
    align-self: center;
}

.herotext {
    font-size: 18px;
    color: #e5e7eb;
    max-width: 600px;
}
.cta,
.cta2{
    background-color:#3882F6;
    padding: 5px 30px;
    color: #f9faf8;
    font-weight: 700;
    border-radius: 10px;
}

.cta{
    align-self: flex-start;
    border-color: #3882F6; 
    font-size: 18px;
}
.cta2{
    border-color: #f9faf8;
    align-self: center;
    font-size: 26px;
}
.imgcontainer{
    display: flex; 
    justify-content: center;
    gap: 70px;
    flex-wrap: wrap;
    margin-bottom: 30px;
}
.figure {
    display: flex;
    flex-direction: column;
    width: 350px;
    gap: 15px;
 }

.section2img {
    width: 350px;
    height: 350px;
    border-radius: 10px;
    border-color: #3882F6;
    border-width: 3px;
    border-style: solid;
}

.quotesec{
    align-self: center;
    color: #1f2937;
    display: flex;
    flex-direction: column;
    justify-content: center;
    max-width: 1280px;
    padding: 0 5%;s
}
.quote{
    align-self: center;
    font-style: italic;
    font-weight: 300;
    font-size: 36px;
    
}

.person {
    align-self:  flex-end;
    text-align: end;
    font-weight: 700;
    font-size: 24px;
    font-style: italic;
}

.quotecontainer {
    display: flex;
    flex-direction: column;
    background-color: #e5e7eb;

}

.ctasection{
    background-color:#3882F6;
    display: flex;
    justify-content: space-around;
    margin: 100px auto;
    padding: 2rem 5rem;
    border-radius: 10px;
    gap: 5rem;
}

@media only screen and (max-width: 35rem) {
    .ctasection {
      flex-wrap: wrap;
    }
}

.ctatext {
    max-width: 50rem;
    color:#f9faf8;
    font-size: 26px;
}

.ctah,
.ctap { 
    margin:0;
    max-width:900px;
}

.footer{
    text-align: center;
    color:#f9faf8;
    background-color: #1f2937;
    padding: 40px;
    margin-top: auto;
}
